<section class="slider">
    <div class="hero-slider">
        <!-- Start Single Slider -->
        <div class="single-slider" [style.backgroundImage]="'url(' + imagesPath + 'slider2.jpg)'">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <h1>Modernste <span>Technik</span> für präzise <span>Diagnosen.</span></h1>
                            <p>Mit innovativer Medizintechnik ermöglichen wir genaue Untersuchungen und effektive Behandlungen - sicher, schonend und auf Sie abgestimmt. </p>
                            <div class="button">
                                <a href="https://clickdoc.de/institution/Korbach/Augenarztpraxis-Eyad-Naema/18122e05-efe8-4dc3-ae3a-9bf1e5cad2b5"
                                    class="btn"
                                    target="_blank"
                                    >Online Termin</a>
                                <!-- <a href="#" class="btn primary">Learn More</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->
        <!-- Start Single Slider -->
        <div class="single-slider" [style.backgroundImage]="'url(' + imagesPath + 'slider.jpg)'">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <h1>Ihr <span>Augenlicht</span> in besten <span>Händen.</span></h1>
                            <p>Unsere erfahrenen Fachärzte kümmern sich mit größter Sorgfalt um Vorsorge, Therapie und Nachsorge - für klare Sicht und langfristige Augengesundheit. </p>
                            <div class="button">
                                <a href="https://clickdoc.de/institution/Korbach/Augenarztpraxis-Eyad-Naema/18122e05-efe8-4dc3-ae3a-9bf1e5cad2b5"
                                    class="btn"
                                    target="_blank"
                                    >Online Termin</a>
                                <!-- <a href="#" class="btn primary">About Us</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start End Slider -->
        <!-- Start Single Slider -->
        <div class="single-slider" [style.backgroundImage]="'url(' + imagesPath + 'slider3.jpg)'">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <h1>Kompetente <span>Augenheilkunde</span> für Ihre <span>Sehkraft.</span></h1>
                            <p>Wir bieten Ihnen moderne Diagnostik und individuelle Behandlungspläne für Ihre Augengesundheit - zuverlässig, einfühlsam und auf dem neuesten Stand der Medizin. </p>
                            <div class="button">
                                <a href="https://clickdoc.de/institution/Korbach/Augenarztpraxis-Eyad-Naema/18122e05-efe8-4dc3-ae3a-9bf1e5cad2b5"
                                    class="btn"
                                    target="_blank"
                                    >
                                    Online Termin
                                </a>
                                <a [routerLink]="['/contact']" class="btn primary">Kontakt</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->
    </div>
</section>
