<section class="slider">
    <div class="hero-slider">
        <!-- Start Single Slider -->
        <div class="single-slider" [style.backgroundImage]="'url(' + imagesPath + 'slider2.jpg)'">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <h1>We Provide <span>Medical</span> Services That You Can <span>Trust!</span></h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p>
                            <div class="button">
                                <a href="https://clickdoc.de/institution/Korbach/Augenarztpraxis-Eyad-Naema/18122e05-efe8-4dc3-ae3a-9bf1e5cad2b5"
                                    class="btn"
                                    target="_blank"
                                    >Online Termin</a>
                                <a href="#" class="btn primary">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->
        <!-- Start Single Slider -->
        <div class="single-slider" [style.backgroundImage]="'url(' + imagesPath + 'slider.jpg)'">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <h1>We Provide <span>Medical</span> Services That You Can <span>Trust!</span></h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p>
                            <div class="button">
                                <a href="https://clickdoc.de/institution/Korbach/Augenarztpraxis-Eyad-Naema/18122e05-efe8-4dc3-ae3a-9bf1e5cad2b5"
                                    class="btn"
                                    target="_blank"
                                    >Online Termin</a>
                                <a href="#" class="btn primary">About Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start End Slider -->
        <!-- Start Single Slider -->
        <div class="single-slider" [style.backgroundImage]="'url(' + imagesPath + 'slider3.jpg)'">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <h1>We Provide <span>Medical</span> Services That You Can <span>Trust!</span></h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p>
                            <div class="button">
                                <a href="https://clickdoc.de/institution/Korbach/Augenarztpraxis-Eyad-Naema/18122e05-efe8-4dc3-ae3a-9bf1e5cad2b5"
                                    class="btn"
                                    target="_blank"
                                    >
                                    Online Termin
                                </a>
                                <a href="#" class="btn primary">Conatct Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->
    </div>
</section>
